body{
    background-color: black;
  }
.a1{
    color: aquamarine;
    text-shadow: 3px 0px 6pX ;
    padding: 50px;
}
.a2{
    color: aquamarine;
    text-shadow: 3px 0px 6px;
    padding: 50px;
}